.button{
    cursor: pointer;
    font:inherit;
    border: none;
    color: white;
    padding: 1rem 2rem;
    background-color: #3399ff;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
}

.icon{
    width:1rem;
    height:1rem;
    margin-right: .3rem;
}

.badge{
    background-color: #3f86cc;
    padding: .5rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
}

